.complex-input {
  display: flex;
  align-item: center;

  padding-bottom: 10px;
}

.euro {
  padding-left: 20px;
  margin-top: 10px;
}

.add-photo {
  display: flex;
  align-item: center;
  justify-content: space-around;
}

.add_photo_text {
  margin-left: 10px;
  margin-top: 0px;

}

.add-photo:hover {
  color:#f12b6b;
}

.form_card {

}
