<div class="navbar-wagon navbar-wagon-home">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <!-- <img src="../../assets/images/kitty.png" alt="logo"> -->
    <%= image_tag "kitty.png", alt: "alttext" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Sign in</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Sign up</a>
    <a class="btn btn-primary share">Share a cat</a>

    <!-- Profile picture with dropdown list -->

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Sign up</a></li>
      </ul>
    </div>
  </div>
</div>
