.form_card {
  // width: 40%;
  background-color: white;
  padding: 30px;
  // border-style: solid;
  // border-color: lightgrey;
  // border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .2);
}

.btn-log {
  padding: 15px 45px;
  // position: absolute;
  bottom: 30px;
  right: 10px;
  font-weight: lighter;

}

.devise {
  font-weight: lighter;
  font-size: 15px;
  margin-top: 15px;
  // display: flex;
  // width: 300px;
  // justify-content: space-around;
}

.form-inputs-sign {
  margin-top: 35px;
  margin-bottom: 35px;
}


