.flex {
  display: flex;
}
.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking-card-image {
  width: 200px;  
  height: 240px;
  background-size: cover;
  margin: 20px 15px;
}

.booking-card-content {
  padding: 24px;
  background-color: #F8F9FA;
}

.accepted p span {
  color: green;
  font-weight: bolder;
}

.pending p span {
  color: grey;
  font-weight:bold;
}

.denied p span {
  color: red;
  font-weight: bold;
}